@import url('./reset.css');
@import url('./base.css');
@import url('./footer.css');
@import url('./container.css');
.background{
    background-color: #F0F0F0;
}
.button-policy{
  display: flex;
  align-items: center;
  font-family: "play", sans-serif;
font-weight: 300;
font-size: 16px;
line-height: 1.2;
color: #201f24;
border: none;
background-color: inherit;
}
  .terms-title{
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 130%;
    letter-spacing: -0.04em;
    color: #b42d2d;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
    width: 100%;
    }
    .terms-text{
      font-family: "play", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #070d12;
    }
    .terms-subtitle{
      font-family: "play", sans-serif;
font-weight: 700;
font-size: 32px;
line-height: 130%;
color: #070d12;
margin-top: 16px;
margin-bottom: 16px;
    }
   .terms-rules-title{
      font-family: "play", sans-serif;
font-weight: 700;
font-size: 24px;
line-height: 130%;
color: #070d12;
margin-bottom: 16px;
margin-top: 16px;
    }
    .terms-list{
      font-family: "play", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 130%;
      color: #070d12;
      list-style-type: disc;
        padding-left: 20px;
    }
    .terms-link{
      text-decoration: underline;
    }
    @media only screen and (min-width:1439px) {
      .terms-title{
        font-size: 44px;
        margin-top: 24px;
            margin-bottom: 24px;
            line-height: 150%;
            }
            .terms-subtitle{
        margin-top: 20px;
        margin-bottom: 16px;
        line-height: 150%;
            }
            .terms-rules-title{
        line-height: 150%;
            }
            .terms-list{
              line-height: 150%;
            }
            .terms-text{
              line-height: 150%;
            }
            .terms-container{
        padding-left: 189px;
        padding-right: 189px;
          }
    }